#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        // Zなど、サクサク切り替えたいキー用（200ms）

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        // X専用、文字入力の誤爆を防ぐため長め（250ms）

        lt_slow: lt_slow {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_SLOW";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt_to_layer_0 3 TAB  &kp W           &kp E         &kp R     &kp T                                                                  &kp Y                        &kp U  &kp I                   &kp O              &kp P
&kp A                 &kp S           &kp D         &kp F     &kp G     &kp LEFT_ALT                      &lt_to_layer_0 3 MINUS     &kp H                        &kp J  &kp K                   &kp L              &mt RIGHT_SHIFT ENTER
&lt_to_layer_0 7 Z    &lt_slow 2 X    &kp C         &kp V     &kp B     &lt_to_layer_0 7 EXCLAMATION      &lt_to_layer_0 7 QUESTION  &kp N                        &kp M  &lt_to_layer_0 5 COMMA  &mt RIGHT_ALT DOT  &mkp MB1
&kp LCTRL             &kp LEFT_SHIFT  &kp LEFT_GUI  &mkp MB2  &mkp MB1  &lt_to_layer_0 5 SPACE            &lt_to_layer_0 6 GRAVE     &mt RIGHT_CONTROL BACKSPACE                                                    &mkp MB2
            >;
        };

        mac_layer {
            bindings = <
&lt_to_layer_0 2 TAB  &kp W           &kp E         &kp R     &kp T                                                                   &kp Y                            &kp U  &kp I                   &kp O              &kp P
&kp A                 &kp S           &kp D         &kp F     &kp G     &kp LEFT_ALT                      &lt_to_layer_0 2 MINUS      &kp H                            &kp J  &kp K                   &kp L              &mt RIGHT_SHIFT ENTER
&lt_to_layer_0 8 Z    &lt_slow 2 X    &kp C         &kp V     &kp B     &lt_to_layer_0 8 EXCLAMATION      &lt_to_layer_0 8 QUESTION   &kp N                            &kp M  &lt_to_layer_0 9 COMMA  &mt RIGHT_ALT DOT  &mkp MB1
&kp LGUI              &kp LEFT_SHIFT  &kp LEFT_ALT  &mkp MB2  &mkp MB1  &lt_to_layer_0 9 SPACE            &lt_to_layer_0 6 RG(SPACE)  &mt RG(RIGHT_CONTROL) BACKSPACE                                                    &mkp MB2
            >;
        };

        function_layer {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F12                      &trans  &kp F7  &kp F8  &kp F9  &kp F12
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans      &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans      &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10
&trans  &trans  &trans  &trans  &trans   &trans      &trans  &trans                          &none
            >;
        };

        num_layer {
            bindings = <
&kp MINUS         &kp N7          &kp N8        &kp N9        &kp BACKSPACE                                     &kp MINUS  &kp N7        &kp N8        &kp N9        &kp BACKSPACE
&kp N0            &kp NUMBER_4    &kp N5        &kp NUMBER_6  &kp LEFT_SHIFT  &kp UP_ARROW        &kp UP_ARROW  &kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp RSHIFT
&kp COMMA         &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp TAB         &kp DOWN_ARROW      &kp DOWN      &kp COMMA  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp TAB
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans        &trans        &trans          &trans              &kp LEFT      &kp RIGHT                                            &none
            >;
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &none
            >;
        };

        scroll_layer {
            bindings = <
&kp LA(F4)        &kp RG(M)       &kp LS(LG(UP_ARROW))  &kp LG(UP_ARROW)  &kp LG(DOWN_ARROW)                                           &kp RG(DOWN_ARROW)   &kp RG(UP_ARROW)  &kp RS(RG(UP_ARROW))  &kp RG(M)        &kp LA(F4)
&kp HOME          &kp LEFT_ARROW  &kp UP_ARROW          &kp RIGHT_ARROW   &kp END             &kp LEFT_CONTROL      &kp RIGHT_CONTROL  &kp HOME             &kp LEFT_ARROW    &kp UP_ARROW          &kp RIGHT_ARROW  &kp END
&trans            &kp LEFT_ALT    &kp DOWN_ARROW        &kp TAB           &kp LG(LEFT_ARROW)  &kp LEFT_SHIFT        &kp DOWN_ARROW     &kp RG(RIGHT_ARROW)  &kp TAB           &kp DOWN_ARROW        &kp RIGHT_ALT    &mkp MB1
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LC(W)             &mkp MB2          &mkp MB1            &trans                &kp LEFT_ARROW     &kp RIGHT_ARROW                                                               &none
            >;
        };

        layer_6 {
            bindings = <
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&to 1           &trans        &trans        &trans        &to 0         &kp LG(L)                &kp LG(L)        &to 1         &trans        &trans        &trans        &to 0
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans        &kp LS(LG(C_POWER))      &kp LS(C_POWER)  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans          &trans        &trans        &trans        &trans        &trans                   &trans           &kp C_POWER                                             &none
            >;
        };

        layer_7 {
            bindings = <
&kp LS(NUMBER_1)  &kp Q      &kp LS(NUMBER_2)  &kp F5     &kp LS(LG(S))                                                  &kp RG(RS(S))         &kp F5                 &kp LEFT_BRACKET  &kp MINUS   &kp RS(N5)
&trans            &kp LC(A)  &kp LC(X)         &kp LC(F)  &kp LEFT_BRACKET  &kp LG(LEFT_ARROW)      &kp LG(RIGHT_ARROW)  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON     &kp COLON   &kp RS(ENTER)
&trans            &kp LC(Z)  &kp LC(C)         &kp LC(V)  &kp LG(V)         &kp LG(PERIOD)          &kp RG(PERIOD)       &kp ASTERISK          &kp SLASH              &kp RS(N8)        &kp RS(N9)  &kp SLASH
&trans            &trans     &trans            &trans     &trans            &trans                  &trans               &trans                                                                     &none
            >;
        };

        mac_shortcut_layer {
            bindings = <
&kp LS(NUMBER_1)  &kp Q      &kp LS(NUMBER_2)  &kp F5     &kp LS(LG(S))                                               &kp RG(RS(S))         &kp F5                 &kp AT         &kp MINUS   &kp RS(N5)
&trans            &kp LG(A)  &kp LG(X)         &kp LG(F)  &kp AT         &kp LG(LEFT_ARROW)      &kp LG(RIGHT_ARROW)  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp COLON   &kp RS(ENTER)
&trans            &kp LG(Z)  &kp LG(C)         &kp LG(V)  &kp LG(V)      &kp LC(LG(SPACE))       &kp RG(RC(SPACE))    &kp ASTERISK          &kp SLASH              &kp RS(N8)     &kp RS(N9)  &kp SLASH
&trans            &trans     &trans            &trans     &trans         &trans                  &trans               &trans                                                                  &none
            >;
        };

        mac_scroll_layer {
            bindings = <
&kp LG(Q)     &kp LG(M)       &kp LS(LG(UP_ARROW))  &kp LG(UP_ARROW)  &kp LG(DOWN_ARROW)                                      &kp LG(DOWN_ARROW)   &kp LG(UP_ARROW)  &kp RS(LG(UP_ARROW))  &kp LG(M)        &kp LG(Q)
&kp HOME      &kp LEFT_ARROW  &kp UP_ARROW          &kp RIGHT_ARROW   &kp END             &kp LEFT_GUI        &kp RIGHT_GUI   &kp HOME             &kp LEFT_ARROW    &kp UP_ARROW          &kp RIGHT_ARROW  &kp END
&trans        &kp LEFT_ALT    &kp DOWN_ARROW        &kp TAB           &kp LG(LEFT_ARROW)  &kp LEFT_SHIFT      &kp DOWN_ARROW  &kp LG(RIGHT_ARROW)  &kp TAB           &kp DOWN_ARROW        &kp RIGHT_ALT    &mkp MB1
&kp LEFT_GUI  &kp LEFT_SHIFT  &kp LG(W)             &mkp MB2          &mkp MB1            &trans              &kp LEFT_ARROW  &kp RIGHT_ARROW                                                               &none
            >;
        };
    };
};
